body{
    background-color: powderblue;
}
article{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
h1{
    font-family: Verdana;
    font-size: 1.7rem;
    text-align: center;
}
h2{
    padding-top: 30px;
}
p{
    outline: 1px solid black;
    font-family: Verdana;
    font-size: 1.2rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}
img {
    max-width: 25%;
    height: auto;
    outline: 4px dotted black;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 100;
  }
